<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ashuxie Shop</title>
		<link rel="stylesheet" href="styles.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>

	<body>
		<nav>
			<ul class="nav-list">
				<li class="nav-item">Home</li>
				<li class="nav-item">Contact</li>
				<li class="nav-item">About</li>
			</ul>
			<ul class="nav-list">
				<li class="nav-item">Sign Up</li>
				<li class="nav-item">Login</li>
			</ul>
		</nav>
		<!-- End of nav -->

		<div class="form-container">
			<form action="" class="form">
				<div class="form-row">
					<label for="name" class="form-label">Name: </label>
					<input type="text" class="form-input" />
				</div>
				<div class="form-row">
					<label for="password" class="form-label">Password: </label>
					<input type="password" class="form-input" />
				</div>
			</form>
		</div>
		<!-- End of form -->

		<div class="column-layout">
			<div class="column-item sidebar-one">
				<h2>Sidebar one</h2>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Doloribus fugit libero earum provident rem eos aspernatur
					ratione molestiae ea corporis?
				</p>
			</div>
			<div class="column-item main-column">
				<h2>Main column</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Nemo, et.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Placeat tempora aperiam aliquam et saepe tempore amet
					debitis! Reiciendis accusamus officiis optio necessitatibus
					autem eligendi nihil.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Perspiciatis porro enim quia necessitatibus non unde
					repellendus illum earum.
				</p>
			</div>
			<div class="column-item sidebar-two">
				<h2>Sidebar two</h2>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Quibusdam laboriosam nostrum reprehenderit laborum porro
					quos est deserunt perferendis aspernatur autem.
				</p>
			</div>
		</div>
		<!-- End of column layout -->

		<div class="feature-layout">
			<div class="feature-item">
				<h2>Feature 1</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Placeat cupiditate exercitationem numquam omnis impedit
					tempora quis obcaecati nobis.
				</p>
			</div>
			<div class="feature-item">
				<h2>Feature 2</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Placeat cupiditate exercitationem numquam omnis impedit
					tempora quis obcaecati nobis.
				</p>
			</div>
			<div class="feature-item">
				<h2>Feature 3</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Enim quaerat ea tempora iste earum quod temporibus cumque
					neque?Lorem ipsum dolor sit amet consectetur adipisicing
					elit. Reprehenderit fuga doloremque, quo praesentium amet
					iste.
				</p>
			</div>
		</div>
		<!-- End of feature layout -->

		<div class="wrap-layout">
			<div class="wrap-layout-item">1</div>
			<div class="wrap-layout-item">2</div>
			<div class="wrap-layout-item">3</div>
			<div class="wrap-layout-item">4</div>
			<div class="wrap-layout-item">5</div>
		</div>
		<!-- End of wrap layout -->

		<div class="center-layout">
			<h3 class="center-layout-item">Center item</h3>
		</div>
		<!-- End of center-->

		<div class="chart-layout">
			<div class="chart-layout__item" style="--percent: 10%">10%</div>
			<div class="chart-layout__item" style="--percent: 20%">20%</div>
			<div class="chart-layout__item" style="--percent: 40%">40%</div>
			<div class="chart-layout__item" style="--percent: 90%">90%</div>
			<div class="chart-layout__item" style="--percent: 80%">80%</div>
			<div class="chart-layout__item" style="--percent: 40%">40%</div>
			<div class="chart-layout__item" style="--percent: 10%">10%</div>
			<div class="chart-layout__item" style="--percent: 20%">20%</div>
			<div class="chart-layout__item" style="--percent: 69%">69%</div>
			<div class="chart-layout__item" style="--percent: 96%">96%</div>
			<div class="chart-layout__item" style="--percent: 60%">60%</div>
			<div class="chart-layout__item" style="--percent: 88%">88%</div>
		</div>
		<!-- End of chart -->

		<div class="the-end">
			<div class="the-end__first">
				<p>
					I'm writing to you in reference to the job position
					advertised MyCV.vn which immediately appealed to me.Since
					I've been interested in your company for a long time, I
					would like to apply today as a Sample position in permanent
					employment.
				</p>
				<p>
					At the moment I'm working as a Sample position at Sample
					company.My most important tasks include familiarizing myself
					with new products, conducting sales talks and transferring
					orders.
				</p>
				<p>
					Your job list sounds great! I hope that this will enable me
					to develop personal and professional development
					opportunities.I like your focus and image in this industry
					very well, so I see you as a very interesting employer.I
					have been following your development for a long time in the
					media and therefore believe that I also fit in well with the
					company.
				</p>
			</div>
			<div class="the-end__second">
				<div class="the-end__second-one">
					<p>
						I'm writing to you in reference to the job position
						advertised MyCV.vn which immediately appealed to
						me.Since I've been interested in your company for a long
						time.
					</p>
				</div>
				<div class="the-end__second-two">
					<p>
						At the moment I'm working as a Sample position at Sample
						company.My most important tasks include familiarizing
						myself with new products, conducting sales talks and
						transferring orders.
					</p>
				</div>
			</div>
		</div>
		<!-- End of the end -->

		<!-- =================================================== -->
		<div class="btn-section">
			<div>
				<button
					onclick="showSuccessToast();"
					class="btn btn--size-s btn--success"
				>
					GO TO NEXT APPROVAL
				</button>
				<button
					onclick="showWarningToast();"
					class="btn btn--size-s btn--warn"
				>
					OK
				</button>
				<button
					onclick="showErrorToast();"
					class="btn btn--size-s btn--danger"
				>
					TRY AGAIN
				</button>
			</div>
			<div class="btn-div">
				<button class="btn btn--success btn--disabled">
					GO TO NEXT APPROVAL
				</button>
				<button onclick="showWarningToast();" class="btn btn--warn">
					OK
				</button>
				<button onclick="showErrorToast();" class="btn btn--danger">
					TRY AGAIN
				</button>
			</div>
			<div>
				<button
					onclick="showSuccessToast();"
					class="btn btn--size-l btn--success"
				>
					GO TO NEXT APPROVAL
				</button>
				<button
					onclick="showWarningToast();"
					class="btn btn--size-l btn--warn"
				>
					OK
				</button>
				<button
					onclick="showErrorToast();"
					class="btn btn--size-l btn--danger"
				>
					TRY AGAIN
				</button>
			</div>
		</div>

		<!-- =================================================== -->
		<div id="toast"></div>
		<script src="scripts.js"></script>
	</body>
</html>
